@media (min-width: 736px) {
    .container{
        width: 100%;
        max-width: 688px;
        margin: 0 auto;
    }
    
    .header{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    nav{
        width: 688px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__button{
        width: 164px;
        height: 32px;
    }

    .modal__controller{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 428px;
    }

    .buttons__modal-p{
        flex-direction: row;
        align-items: center;
        height: 32px;
    
    }

    .buttons__modal-p label{
         width: max-content;
    }

    .buttons__modal-text{
        margin-top: 8px;
    }
 }
    
