
.modal__controller{ 
    padding: 24px;
    background-color: var(--color-mode);
    border: none;
    border-radius: var(--radius-1);
    margin: 50px 16px;
}

.modal__controller::backdrop{
    background-color: rgba(0, 0, 0, .6);
}

.modal__container{
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--color-mode);

}

.modal__register{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modal__btn-close{
    width: 35px;
    height: 30px;
    margin: 10px;
    font-size:var(--font-size-2);
    color: var( --color-grey-2);
    font-weight:var(--font-weight-1);
    border: none;
}

.modal__text-register{
    color: var(--color-grey-1);
    font-weight:var(--font-weight-1) ;
    font-size:var(--font-size-2);
    line-height: 1.21rem;

}


.modal__text-description{
    font-weight:var(--font-weight-3) ;
    font-size:var(--font-size-3);
    color: var(--color-grey-2);
    line-height: 1.21rem;
    margin-top: 20px;
}


.modal__div-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.modal__text-value{
    align-self: flex-start;
    font-weight:var(--font-weight-2) ;
    font-size:var(--font-size-3);
    color: var(--color-grey-1);
    line-height: 1.21rem;
    margin-top: 20px;
}

.modal__input{
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    border-radius: var(--radius-1);
    border: 1.5px solid var(--color-grey-3);
    display: flex;
    padding: 0 16px;
   
}

.modal__input:hover{
    border:1.5px solid var(--color-brand-1) ;
}

.modal__input::placeholder{
    color: var(--color-grey-2);
    font-weight:var(--font-weight-2) ;
    font-size:var(--font-size-3);
    line-height: 21px;
   
}

.buttons__modal-p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

label{
    border: 1.5px solid var(--color-grey-5);
    border-radius: var(--radius-1);
    width: 100%;
    color: var(--color-grey-2);
    font-size:var(--font-size-3);
    height: 32px;
    text-align: center;
    padding: 8px;
}

label:hover{
   border: 1.5px solid var(--color-brand-1);
}

.buttons__modal-text{
    align-self: flex-start;
    color: var(--color-grey-1);
    font-weight:var(--font-weight-2) ;
    font-size:var(--font-size-3);
    line-height: 16.94px;

}

.buttons__modal{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end ;
    gap: 16px;
    cursor: pointer;
    
}

.btn__input{
    width: 139.5px;
    height: 31px;
    border-radius: var(--radius-1);
    background-color: var(--color-grey-4);
    border: 1.5px solid var(--color-grey-4);
    color: var(--color-grey-2);
    font-weight:var(--font-weight-1) ;

}

.btn__value{
    width: 139.5px;
    height: 31px;
    border-radius: var(--radius-1);
    background-color: var(--color-brand-1);
    border: 1.5px solid var(--color-brand-1);
    color: var( --color-mode);
    font-weight:var(--font-weight-1) ;

}

.text__modal-button{
    border-radius: var(--radius-1);
    padding: 0, 14, 0, 14;
    gap: 10px;
    background-color: var(--color-mode);
    border: 1.5px solid var(--color-grey-5);
    color: var(--color-grey-2);
}